DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me-with-a-long-random-value
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

POSTGRES_DB=consultorios_compartidos
POSTGRES_USER=consultorios_app
POSTGRES_PASSWORD=change-me-postgres-password
DATABASE_URL=postgres://consultorios_app:change-me-postgres-password@localhost:5432/consultorios_compartidos

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
PLATFORM_COMMISSION_RATE=0.10

MINIO_STORAGE_ENABLED=false
MINIO_ROOT_USER=consultorios_minio
MINIO_ROOT_PASSWORD=change-me-minio-password
AWS_ACCESS_KEY_ID=consultorios_minio
AWS_SECRET_ACCESS_KEY=change-me-minio-password
AWS_STORAGE_BUCKET_NAME=consultorios-documentos
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_S3_REGION_NAME=us-east-1
AWS_S3_ADDRESSING_STYLE=path
